body {
	
}

#container {
	padding: 120px 0 0;
}

#inputBox {
	width: calc(100% - 71px);
	display: inline-block;
}

#searchButton {
	position: absolute;
	left: calc(100% - 86px);
}

#dropdownTip {
	display: block;
	position: relative;
	margin-top: 0;
	width: calc(100% - 71px);
}