#container {
	padding: 120px 0;
}

#inputBox {
	width: calc(100% - 71px);
	display: inline-block;
}

#searchButton {
	position: absolute;
	left: calc(100% - 86px);
}

#searchTip {
	display: none;
	position: relative;
	margin-top: 0;
	width: calc(100% - 71px);
}