#container {
	padding: 40px 0 0;
}

a {
	text-decoration: none;
}

.url {
	color: green;
}

.sitename {
	color: gray;
}

.footer {
	margin-bottom: 50px;
}

#inputBox_header {
	padding-left: 16px;
}

#searchTipBox {
	top: 31px;
}

#searchTip_header {
	background-color: white;
	width: 100%;
	display: none;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.dropdown-menu li .searchTipOption {
	padding-left: 16px;
}